* {
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* stop sideways scroll */
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.navbar {
    position: fixed;
    width: 100%;
    height: auto;
    background-color: rgb(11, 45, 145, 0.5);
    z-index: 999;
}

.navbar-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.brand img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.brand-name {
    color: #fff;
    font-size: 18px;
}

.nav-links {
    padding: 0 10px;
}

.nav-links a {
    padding: 0 10px;
    color: #fff;
    font-size: 18px;
}

.nav-links a:hover {
    color: #CFAF64;
}

.menu-toggle {
    display: none;
}

.hero {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.hero-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: cover;
}

.hero-content {
    position: relative;
    z-index: 1;

    display: flex;            /* enable flexbox */
    flex-direction: column;   /* stack h1, p, and a vertically */
    align-items: center;      /* center them horizontally */
    text-align: center; 
    justify-content: center;
    height: 100%;
    padding-top: 0;
}

.hero-content h1 {
    font-size: 40px;
    color: rgb(11, 45, 145, 1);
    padding-bottom: 20px;
}

.index-about {
    padding: 25px 50px;
    background-color: #e0e0e1;
    display: flex;
    flex-direction: row;
    gap: 280px;
}

.index-about h3 {
    font-size: 25px;
    color: rgb(11, 45, 145, 1);
    padding-bottom: 20px;
    width: 200px;
    text-transform: uppercase;
}

.index-about a {
    color: #fff;
    background-color: rgb(11, 45, 145, 0.5);
    border-radius: 3px;
    padding: 5px 7px;
}

.index-about a:hover {
    color: #CFAF64;
}

.index-about p {
    width: 500px;
}

.index-services-container {
    width: 100%;
    height: auto;
}
.index-services-heading {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
    justify-items: center;
    align-items: center;
}

.index-services-heading h3 {
    font-size: 25px;
    color: rgb(11, 45, 145, 1);
    text-transform: uppercase;
}

.index-services-box {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 20px;

}

.box {
  overflow: hidden;
  position: relative;
  flex: 0 0 270px;
}

.box img {
  width: 100%;
  height: 200px;       /* fixed height */
  object-fit: cover;   /* crop nicely */
  display: block;
  filter: grayscale(100%);
}

.box:hover img {
    filter: grayscale(0%);
}

.box:hover .content-overlay {
    height: 100%;
}

.box h5 {
    font-size: 18px;
    padding-top: 5px;
}

.box p {
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.box-over {
  position: relative;
  margin-top: -60px;    /* overlap image */
  left: 50%;
  transform: translateX(-50%);
  width: 75%;           /* smaller than image */
  background: #2d3a63;
  color: #fff;
  text-align: center;
  padding: 10px 15px;
  z-index: 2;
  border-radius: 6px;   /* optional rounded corners */
  box-shadow: 0 4px 10px rgba(0,0,0,0.15); /* subtle 3D effect */
}

.content-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: gray;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
    border-radius: 6px;
}

.text a:hover {
    color: #CFAF64;
}

.text a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.cost-calculator-section {
    width: 100%;
    padding: 20px 20px;
    background-color: #e0e0e1;
    height: auto;
    justify-items: center;
    text-align: center;
}

hr {
    border: 1px solid #CFAF64;
}

.cost-calculator-section h2 {
    padding: 20px 0;
    font-size: 30px;
    color: rgb(11, 45, 145, 1);
}

.cost-calculator-section p {
    padding-bottom: 20px;
}

.cost-calculator-section a {
    text-decoration: none;
    color: #fff;
    background-color: rgb(11, 45, 145, 0.5);
    padding: 8px 10px;
    border-radius: 6px;
}

.cost-calculator-section a:hover {
    color: #CFAF64;
}

footer {
    width: 100%;
    background-color: #2d3a63;
}

.footer-heading {
    justify-items: center;
    padding: 20px 0;
}

.footer-heading hr {
    width: 760px;
}

.footer-heading p {
    padding: 10px 0;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
}

.box-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
}

.footer-box {
    flex: 1;
    padding: 20px 20px;
    border: 1px solid #CFAF64;
    justify-items: center;
}

h4 {
    font-size: 18px;
    color: #fff;
    padding-bottom: 15px;
}

.social-links {
    text-decoration: none;
    color: #CFAF64;
}

.social-links:hover {
    color: #fff;
}

i {
    padding: 8px 8px;
}

form input {
    width: 97%;
    margin-bottom: 10px;
}

form textarea {
    width: 97.5%;
    margin-bottom: 10px;
}

button {
    display: block;
    margin: 0 auto;
    background-color: #CFAF64;
    color: #fff;
    padding: 5px 8px;
    border-radius: 8px;
}

.box p {
    font-size: 15px;
    color: #fff;
}

.copyright {
    justify-items: center;
    padding: 10px 0;
}

.copyright p {
    color: #fff;
}

.about-hero {
    width: 100%;
    height: auto;
    justify-items: center;
    background-color: #e0e0e1;
}

.about-hero-heading h1 {
    font-size: 50px;
    padding-top: 80px;
    padding-bottom: 30px;
    color: rgb(11, 45, 145, 1);
}

.aboutus-info {
    padding: 35px 60px;
}

.team-hero {
    width: 100%;
    height: auto;
    justify-items: center;
    background-color: #e0e0e1;
}

.team-hero-content h1 {
    font-size: 50px;
    padding-top: 80px;
    padding-bottom: 30px;
    color: rgb(11, 45, 145, 1);
    text-transform: uppercase;
}

.team-section {
    padding: 30px 60px;
}

.team-section h2 {
    color: rgb(11, 45, 145, 1);
    font-size: 30px;
    padding: 20px 0;
    text-decoration: underline;
    text-decoration-color: #CFAF64;
}

.team-color-1 {
    display: flex;
    flex-direction: row;
    background-color: #e2e2e2;
    height: 200px;
    align-items: center;
    gap: 300px;
}

.team-color-2 {
    display: flex;
    flex-direction: row;
    background-color: #efefef;
    height: 200px;
    align-items: center;
    gap: 300px;
}

.team-content {
    width: 100px;
    height: 100px;
    flex: initial;
}

.team-content img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    background-color: #2d3a63;
    border-radius: 50%;
    margin-left: 60px;
}

.team-content-inner {
    width: 500px;
    margin-top: -20px;
}

.team-content-inner h3 {
    font-size: 25px;
    color: #CFAF64;
    padding-bottom: 8px;
}

.team-content-inner h4 {
    font-size: 18px;
    color: #2d3a63;
}

